
{%- block form_errors -%}
    {%- if errors|length > 0 -%}

        {%- for error in errors -%}
            <p class="form_error_message">{{ error.message }}</p>
        {%- endfor -%}

    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_row -%}
    <div class="form_row">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}