{% extends 'base.html.twig' %}

{% block body %}
<div class="section">
    <h1>{% block title %}{% trans %}Kategorie{% endtrans %}{% endblock %}</h1>
     {% for category in categories %}
        <a href="{{ path('category_show', { 'category': category.shortName }) }}">
            <div class="puzzle-box">
				<div class="puzzle-image">
                    <img class="default_questionImage" src={{ asset('/img/klodka.png') }}>
                 
                </div>
                <div class="puzzle-title">
                    <p>{{ category.title }}</p>
                </div>
            </div>
        
        </a>
       
    {%  endfor %}
    
</div>
{% endblock %}
