{% extends 'base.html.twig' %}

{% block body %}
<div class="section">
    <h1>{% block title %}{% trans %}Kategorie{% endtrans %}{% endblock %}</h1>
     {% for category in categories %}
        <a href="{{ path('category_show', { 'category': category.shortName }) }}">
            <div class="thumbnail-box">
				<div class="thumbnail-image">

                    {% if category.picture %}
                        <img class="thumbnailImage" src="/{{ category.picture.getWebPath }}">
                    {% else %}
                        <img class="thumbnailImage" src={{ asset('/img/klodka.png') }}>
                    {% endif %}
                </div>


                <div class="thumbnail-title">
                    <p>{{ category.title }}</p>
                </div>
            </div>
        
        </a>
       
    {%  endfor %}
    
</div>
{% endblock %}
