{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block title %}{% trans %}Homepage{% endtrans %}{% endblock %}
{% block body %}
    <div>
        <p>{% trans %}Panel Administracyjny{% endtrans %}</p>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
