{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block title %}{% trans %}Homepage{% endtrans %}{% endblock %}
{% block aside_nav %}
    <h3>{% trans %}Na skróty{% endtrans %}</h3>
    <ul>
        <li><a href="{{ path("category_new") }}">Dodaj kategorię</a></li>
        <li><a href="{{ path("page_new") }}">Dodaj artykuł</a></li>
        <li><a href="{{ path("puzzle_new") }}">Dodaj zagadkę</a></li>
    </ul>

{% endblock %}



{% block body %}
    <div class="section">
        <h1>{% trans %}Panel Administracyjny{% endtrans %}</h1>
    </div>
    <div class="section">
        <h2>Ostatnio dodane</h2>
        <h3>Artykuły</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa </th>
                    <th>Kategoria </th>
                    <th>Akcje </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="section">
        <h3>Kategorie</h3><a href="{{ path("category_index") }}">Zobacz wszystkie</a>
        <table>
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>Nazwa </th>
                <th>Akcje </th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="section">
        <h3>Zagadki</h3>
        <table>
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>Nazwa </th>
                <th>Akcje </th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
