{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block headtitle %}{% trans %}Homepage{% endtrans %}{% endblock %}
{% block body %}<div class="section">
    <h1>{% block title %}{% trans %}Strona główna{% endtrans %}{% endblock %}</h1>
    <h2>{% trans %}Ostatnio dodane:{% endtrans %}</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec fringilla diam. Nam eu lacus posuere, sollicitudin sem sollicitudin, interdum tellus. In ac erat vulputate, mattis ex vel, tempus tortor. Nunc sed elit non sapien fermentum porttitor. Proin varius neque nec diam blandit porta. Nullam blandit lectus in ex lacinia, id congue lacus interdum. Nam feugiat nunc lectus, sed facilisis justo pellentesque dictum. Nunc sagittis aliquam nibh non sollicitudin. Aliquam diam felis, rhoncus ut tincidunt sed, luctus et lectus. Donec ut hendrerit metus. Nulla tempus, mauris a sollicitudin dapibus, nulla enim ullamcorper lorem, eu faucibus sem neque in metus. Aenean pellentesque sapien ut elementum rhoncus. Morbi auctor lectus vitae tincidunt finibus.

        </p>
        <p>
        Nullam in finibus mi. Nullam sodales urna nec lorem volutpat imperdiet. Cras facilisis urna efficitur, condimentum mauris ac, auctor magna. Nam rutrum malesuada quam, ac eleifend orci. Donec maximus et neque ac scelerisque. Nulla imperdiet porta imperdiet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam et erat est. Praesent finibus semper lacus nec iaculis. Morbi eu lorem pharetra, rhoncus odio ut, ullamcorper mauris. Sed eget placerat ipsum, vitae dapibus nulla. Ut vehicula eget velit ac semper. Integer vel enim sit amet urna varius rhoncus. Sed dignissim ut enim eu facilisis.
        </p>
        <p>
            Sed id vestibulum orci, vitae mollis metus. Nam pulvinar vitae nisi at posuere. Ut posuere mauris ac ornare fermentum. Donec vel urna sit amet nisl fermentum venenatis eget eu ante. Donec aliquam ultricies blandit. Etiam facilisis metus magna, eget aliquet est ullamcorper fringilla. Morbi ultricies, leo ac tincidunt aliquam, orci risus faucibus eros, nec malesuada felis nunc scelerisque nisi. Aliquam volutpat cursus posuere. Duis malesuada augue non tortor consequat, ut suscipit eros feugiat. Aliquam vel mollis justo. Vivamus ante ligula, scelerisque id placerat vitae, faucibus eu neque. Sed facilisis facilisis varius. Nunc ut facilisis mauris, in fringilla libero. Morbi scelerisque varius malesuada. Duis fringilla, augue quis placerat faucibus, justo tortor finibus metus, nec rhoncus magna purus sed massa. In hac habitasse platea dictumst.
        </p>
    <h2>Akapit</h2>
        <p>


        Mauris neque ante, varius ac arcu in, vulputate rutrum erat. Donec eget elit aliquam, maximus ipsum placerat, congue mi. Suspendisse id ultrices orci. Fusce non gravida urna. Aliquam erat volutpat. Integer lacinia mollis commodo. Vestibulum rutrum arcu quis diam dignissim elementum a ut metus. Curabitur hendrerit leo quam, ut convallis dolor scelerisque a. Sed accumsan, massa auctor convallis aliquet, ligula nibh ornare sapien, vitae volutpat lorem diam id diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec malesuada, ligula non molestie fermentum, ex augue porttitor sem, quis interdum mi ante non purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin placerat erat vitae urna porttitor tempus vitae eu est. Sed viverra orci quis diam cursus, a imperdiet elit mollis. Morbi quis tortor porta, rhoncus felis vitae, maximus leo.

        Praesent tincidunt nunc massa, et molestie diam volutpat eget. Fusce ex turpis, cursus ut blandit at, cursus et orci. Sed ut mollis purus. Proin sed mi condimentum dui commodo ullamcorper eget eget tortor. Fusce ultricies lorem consectetur justo dictum, ut auctor tortor sagittis. Etiam at enim sem. Cras feugiat maximus leo sed elementum. Mauris ornare justo eget neque euismod consectetur.
        </p>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
