{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="registration">
        <h1>Zarejestruj się!</h1>
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
