@font-face {
    font-family: myFirstFont;
    src: url('/font/rod.ttf');

}
@media {
    *{
        box-sizing: border-box;
    }
    html, body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        height: 100%;
        background-color: white;
        min-width:192px;

    }

   article h1{
        font-size: 2em;
       margin-top: 0;
       font-weight: 400;
    }
    article h2{
        font-size: 1.75em;
        font-weight: 400;
    }
    article h3{
        font-size:1.5em;font-weight: 400;
    }
    .form_error_message{
        color:red;
        font-size: 0.75em;
        margin: 0.25em 1.25em;
    }
    .edit_page label{
        font-size: 1.5em;
    }

    .required::before { content:"* "; }
    input[type=button], button[type=button],  button[type=submit], input[type=submit] {
        padding: 25px 60px 25px 60px;
        background: #e9ce3f;
        color: #fff;
        border-radius: 5px;
        border: none;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        margin: 15px auto;
        letter-spacing: 1px;
        font-weight: 700;
        display: block;
    }
     input[type="text"], .edit_page textarea, .edit_page select {
        padding: 10px;
        width: 100%;
        border: solid  #c9c9c9;
        border-width: 1px 1px 2px 1px;
        transition: border 0.3s;
    }
     input[type="text"]:focus,
     input[type="text"].focus {

         border-bottom: solid 2px #969696;
    }
     .edit_page label{
         margin: 1em 0 0.25em.5em;
         display: block;
     }
     .form_row{
         margin: 0.5em 0;
     }

     .action {
        padding: 5px 12px;
        background: #e9ce3f;
        color: #fff;
        border-radius: 5px;
        border: none;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        margin: 15px 5px;
        letter-spacing: 1px;
        font-weight: 700;
        display: block;
         float: left;
         text-decoration: none;
    }
	
	.non-float{
	display: inline;
         float: none;
	}
     .delete{
         background: #e9554d;
     }

     .registration input[type="text"], .registration input[type="email"], .registration input[type="password"]{
        padding: 10px;
margin: 0 auto;
        display: block;
        width: 90%;
        border: solid  #c9c9c9;
        border-width: 1px 1px 2px 1px;
        transition: border 0.3s;

    }
    input[type="text"]:focus,
    input[type="text"].focus {

        border-bottom: solid 2px #969696;
    }

    label{
        margin: 0 1em;
    }

    aside nav h3{
        margin-left: 1em ;
        font-weight: lighter;
        text-transform: uppercase;
    }
    aside nav ul {
        list-style-type: none;
        margin: 0 auto;
        font-weight: lighter;

    }
    aside nav{
        color: #E4F1F7;
        background-color: #111111;
        width: 100%;
        padding-top: 0.5em;
    }
    aside nav li {
        font-size:0.9em;
    }
    aside nav a {
        padding: .4em .8em;
        display: block;
        color: #E4F1F7;
        text-decoration: none;
    }
    aside nav h1 {
        margin-left: 10%;
        margin-top:1%;
        color: #E4F1F7;
        font-size:1em;
    }

    .banner{
       /* background: #F4C515 url("/img/circuit.png"); */
        background: #F4C515 url("/img/TAPE.png") no-repeat center;
        height: 300px;
		-webkit-box-shadow: 0px 3px 34px 0px rgba(199,166,46,0.44);
		-moz-box-shadow: 0px 3px 34px 0px rgba(199,166,46,0.44);
		box-shadow: 0px 3px 34px 0px rgba(199,166,46,0.44);
    }
   /* .logo-napis{
        left: calc(50% - 202px);

       float:right;
        padding-top: 35px;
    }*/
    .logo{
        width:500px;
      display: block;
        margin: 0 auto;
        padding-top: 35px;
    }
    a .logo {
        text-decoration: none;
    }

    .banner_text{

        text-align: right;
        right: 160px;
        font-size: 2em;
        width: 200px;
        height: 300px;
        float: left;
       padding-top: 50px;
        padding-right: 10px;
    }

    .banner_text .big{
        font-size: 2.25em;
        margin-bottom: -0.15em;
        letter-spacing: -3px;
    }
    .banner_text .akcja{
        letter-spacing: 3px;
    }

    .banner a:visited {
        text-decoration: none;
        color: black;
    }
    .logo img{

    }

    header nav h3{
        margin-left: 1em ;
        font-weight: lighter;
        text-transform: uppercase;
    }
    header nav ul {display: none;
        list-style-type: none;
        margin: 0 auto;
        font-weight: lighter;
        width: 192px;
        float: right;
        background-color: #111111;
        padding-top: 1em;

    }
    header nav{
        height: 45px;
        background-color: #111111;
        font-family: 'Roboto', sans-serif;
        color:  #f8f0c6;
    }
    header nav li {
        font-size:1em;
    }
    header nav a {
        padding: 0.5em 2em;
        display: block;
        color: #E4F1F7;
        text-decoration: none;
        text-transform: uppercase;
    }
    header nav h1 {
        margin-left: 10%;
        margin-top:1%;
        color: #E4F1F7;
        font-size:1em;
    }
    header nav a:hover , footer  a:hover { color:#e9ce3f;}

    footer {
        height: 45px;
      width: 100%;
        background-color: #111111;
        font-family: 'Roboto', sans-serif;
        color:  #f8f0c6;
        padding-top: 0.75em;
    }
    footer  ul {
       list-style-type: none;
       font-weight: lighter;
       width: 100%;
       margin: 0 auto;
   }
    footer  li {
         display: inline;
         border-left: black;
         border-width: 1em; }
    footer  a {
        display: inline;
        text-decoration: none;  text-transform: uppercase;
        color: whitesmoke;
        padding: .4em .8em;
        font-size: 1em;
        border-left: black;
        border-width: thin;}
    .footer, .push {
        height: 45px;
        clear: both;
    }

    .wrapper {
        min-height: 100%;
        height: auto !important;
        margin: 0 auto -45px;
    }

    article{
        background-color: white;
        padding: 0.5em;
        clear: both;
        margin: 0 auto;
        display: block;

    }
    .section{
        padding: 2em;
        overflow: auto;
    }
    article h1,article h2,article h3,article h4{
        color: #e9ce3f;
    }
    blockquote{
        display:block;
        background: #fff;
        padding: 15px 20px 15px 45px;
        margin: 0 0 20px;
        position: relative;
        /*Font*/
        font-size: 16px;
        line-height: 1.2;
        color: #666;
        /*Borders - (Optional)*/
        border-left: 15px solid  #e9ce3f;
        border-right: 2px solid  #e9ce3f;
    }

    .questionPicture img{
        width: 200px;


    }
    .questionImage, .default_questionImage{
        margin: 0 auto;
        max-height: 150px;
        max-width: 200px;
        display: block;

    }

    .puzzle-image{
        width: 200px;
        height: 150px;
        margin: 0px auto;

    }

    .puzzle-image{
        position: relative;
    }

    .locked-image .after {
        position: absolute;
        top: -15px;
        left: -35px;
        width: 100%;
        height: 100%;
        display: block;
        color: #FFF;
    }


    .locked-image .after  img{
        height: 100px;
    }
    .puzzle-box{
        color: black;
        float: left;
        margin: 1em;
        border-left:  5px  ;
        border-bottom: 5px;
        border:  solid #e9ce3f;

        padding: 0.5em;
        background-color: white;
        width: calc(200px + 4em);
    }
    .puzzle-title{
        /*border: 1px solid #000;*/
        padding-left: 0.5em;
        margin-top: 0.5em;
        /*background-color: #111111;*/
        font-weight: lighter;
    }
    iframe{
        width: 100%;
        min-height: 300px;
        margin: 1em auto;
        display:block;

    }
    .info-tab, .unlock_question, .registration{
        width: 100%;
        overflow: auto;
        margin: 1em auto;
       /** background-color: #e9ce3f;*/
        padding: 1em;

    }
    .registration{
        border: 0.25em solid #e9ce3f;
    }
    .unlock_question .question, .registration{
        font-size: 1.5em;
    }

    .info-tab .info {
        color: whitesmoke;
        max-width: 100%;
    }
    .info-tab .info h2{
        color: whitesmoke;
    }
    .info-tab img{
        max-width: 100%;
        display: block;
        margin: 0 auto;
        max-height: 279px;

    }


}

@media all and (min-width: 640px){

    header nav ul{ width: 100%;list-style-type: none;  font-weight: lighter; float:right; display: inline;}
    header nav{  width: 100%;}

    header  nav li {  display: inline; border-left: black; border-width: 1em; float:right;}
    header nav a{
        display: inline;
        text-decoration: none;  text-transform: uppercase;
        color: whitesmoke;
        padding: .4em .8em;
        font-size: 1em;
        border-left: black;
        border-width: thin;}

    footer  ul { list-style-type: none;  font-weight: lighter;  max-width:calc(100%/3); min-width: 285px;
        margin: auto; font-size: 1em}
    header nav a:hover { color:#e9ce3f;}
    blockquote::before{
        content: "\201C";
        font-size: 60px;
        font-weight: bold;
        color: #999;
        position: absolute;
        left: 10px;
        top:5px;
    }

    blockquote::after{
        content: "";
    }

    blockquote em{
        font-style: italic;
    }

    iframe{
        width: 560px;
        height: 315px;
        margin: 1em auto;
        display:block;
    }

    .info-tab, .unlock_question, .registration{
        width: 55%;
        overflow: auto;
        margin: 1em auto;
        padding: 1em;

    }
}
@media all and (min-width: 770px){

    .info-tab .info {
        float: left;
        max-width: 45%;
    }
    .info-tab img{
        float: right;
        max-width: 45%;
    }
    main{
        width:calc(100% - 285px - 2em);
        min-width: 285px;

        /*background-color: antiquewhite;*/
        padding: 1em;
        margin: 0 auto;
        display: block;
    }
    aside nav {
        width: 285px;
        float:left;
        min-height: 225px;
        margin: 1em;
    }
    aside nav ul {
        margin-left: 1em ;

    }

}

@media all and (max-width: 430px){
    .banner_text{
        display: none;
    }
    .logo{
        width: 160px;
    }
}